<!DOCTYPE html>
<html lang="ro">
    <head>
        <title>TickerTinker</title>
        
        <meta name="keywords" content="Ticker Tinker, ceas, ceas de mână, ceas de perete, ieftin, comandă, comandă personalizată, maintanence, service, oferte, de calitate, ">
        <meta name="description" content="Ticker Tinker - Clock shop and service. Ceasuri de toate tipurile, iefine sau de calitate. Magazin online. Service, maintanence, accesorii">
        
        <%- include("../fragmente/head.ejs") %>
        

    </head>
    <body>
        
        <%- include("../fragmente/header.ejs") %>

        <main>

            <h2>Alta pagina</h2>

            <section id="galeria-animata">
                <h2>Galerie UniBuc-CGI-2023</h2>
                <p>Parteneriatul cu Universitatea București a făcut posibilă organizarea concursului UniBuc-CGI-2023, care a produs rezultate impresionante.</p>
                <div id="container-galerie-animata" class="galerie">

                    <%  for (let imag of locals.imaginiAll) {  %>
                        <figure>
                            <img src="<%- imag.cale_imagine %>" alt="<%- (imag.alt)?imag.alt:imag.titlu %>" />
                            <figcaption><%- imag.descriere %></figcaption>
                        </figure>

                    <%  }  %>

                </div>
            </section>

            <%- include("../fragmente/galerie_statica.ejs") %>



            <p id="watermark"></p>

        </main>



        <%- include("../fragmente/footer.ejs") %>


        
    
    </body>
</html>








